{% extends "base.html" %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block title %} About Me {% endblock title %}
{% block body %}
  <div class="container my-4">
    <h2 class="text-center"> About me</h2>
  </div>
  <br>
  <div class="container">
    <ul type="square">
      <li style="font-size:25px;color:rgba(0, 0, 0, 0.750)"> Hello everyone I'm Pratyush Majumdar. I'm a second year
        student and I'm currently
        learning
        BCA from Garware College of Commerce, Pune - 411004.
      </li>
      <br>
      <li style="font-size:25px;color:rgba(0, 0, 0, 0.750)"> I like to travel, play and spend time with my friends. I
        also like to watch series,
        movies, animes and I spend a lot of time studying.
      </li>
      <br>
      <li style="font-size:25px;color:rgba(0, 0, 0, 0.750)"> I like to learn Japanese and I have completed JLPT N5. <br>
        Click here to view :
      </li>
      <br>
      <li style="font-size:25px;color:rgba(0, 0, 0, 0.750)"> I'm aspiring to be a full stack programmer!!

      </li>
    </ul>
  </div>
  <br> <br> <br> <br> <br>
  <div style="font-size:40px" class="text-center container">
    <a href="https://www.instagram.com/_.pratyush_m/" target="_blank" class="text-decoration-none">
      <ion-icon style="color:#ac2bac" name="logo-instagram"></ion-icon>
    </a>
    <a href="https://github.com/pratyush770" target="_blank" class="text-decoration-none">
      <ion-icon style="color:#333333" name="logo-github"></ion-icon>
    </a>
    <a href="" target="_blank" class="text-decoration-none">
      <ion-icon style="color:#0A66C2" name="logo-linkedin"></ion-icon>
    </a>
  </div>
  <br><br>
  {% endblock body %}