{% extends "base.html" %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block title %} About Me {% endblock title %}
{% block body %}
<div class="container mt-3 mb-2">
  <h2 class="text-center"> About me</h2>
</div>
<br>
<div class="container">
  <ul class="unorder" type="square">
    <li class="mylist" style="font-size:22px;color:rgba(0, 0, 0, 0.750)"> Hello everyone I'm Pratyush Majumdar. I'm a second year
      student and I'm currently
      learning
      BCA from Garware College of Commerce, Pune - 411004.
    </li>
    <br>
    <li style="font-size:22px;color:rgba(0, 0, 0, 0.750)"> I like to travel, play and spend time with my friends. I
      also like to watch series,
      movies, animes and I spend a lot of time studying.
    </li>
    <br>
    <li style="font-size:22px;color:rgba(0, 0, 0, 0.750)"> I like to learn Japanese and I have completed JLPT N5. <br>
      Click here to view : <a
        href="https://acrobat.adobe.com/link/review?uri=urn:aaid:scds:US:7cb00ca6-ea7c-3cf4-b634-2a78dc9e2c50"
        target="_blank">
        https://acrobat.adobe.com/link/review?uri=urn:aaid:scds:US:7cb00ca6-ea7c-3cf4-b634-2a78dc9e2c50</a>
    </li>
    <br>
    <li style="font-size:22px;color:rgba(0, 0, 0, 0.750)"> Apart from my college studies, I'm interested in learning
      Web Developing. </li>
    <br>
    <li style="font-size:22px;color:rgba(0, 0, 0, 0.750)"> I'm aspiring to be a full stack programmer!!
    </li>
    <br>
  </ul>
</div>
<div style="font-size:40px" class="text-center container">
  <a href="https://www.instagram.com/_.pratyush_m/" target="_blank" class="text-decoration-none">
    <ion-icon style="color:#ac2bac" name="logo-instagram"></ion-icon>
  </a>
  <a href="https://github.com/pratyush770" target="_blank" class="text-decoration-none">
    <ion-icon style="color:#333333" name="logo-github"></ion-icon>
  </a>
  <a href="" target="_blank" class="text-decoration-none">
    <ion-icon style="color:#0A66C2" name="logo-linkedin"></ion-icon>
  </a>
</div>
<br>
<br>
{% endblock body %}