{% extends "base.html" %}
{% block contactactive %} active {% endblock contactactive %}
{% block title %} Contact Info {% endblock title %}
{% block body %}
{% if success %}
<div class="alert alert-info alert-dismissible fade show text-center" role="alert">
  <strong>Thank You!!</strong> Your form has been submitted successfully.
</div>
{% endif %}
<div class="container my-4">
  <h2 class="text-center"> Contact Information</h2> <br> <br>
  <form action="/contact/" method="post">
    {% csrf_token %}
    <div class="form-group mb-4">
      <label for="Name" class="form-label">Your Name</label>
      <input type="text" class="form-control" name="name" placeholder="name" aria-label="Username"
        aria-describedby="basic-addon1">
    </div>

    <div class="form-group mb-4">
      <label for="Email" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
    </div>

    <div class="form-group mb-4">
      <label for="Desc" class="form-label">Your feedback (50-60 words)</label>
      <textarea class="form-control" name="feedback" id="feeedback" rows="6"> </textarea>
    </div>
    <br>
    <button style="text-align:center" type="submit" class="btn btn-success me-4"> Submit </button> <button type="reset"
      class="btn btn-success"> Reset </button>
  </form>
</div>
<div class="text-center container">
  <p> For any enquiry contact me at pratyushmajumdar27@gmail.com </p>

</div>
{% endblock body %}