{% extends "base.html" %}
{% block projectactive %} active {% endblock projectactive %}
{% block title %} My Projects {% endblock title %}
{% load static %}
{% block body %}
<div class="container my-4">
    <h2 class="my-header">My Projects</h2>

</div>
<br>
<div class="ms-4">
    <img src="{% static 'pic 19.jpg' %}" height="200" width="200" class="img-left">
    <h4> This project contains an illustration of a ToDO List which I have created using Django framework. </h4>
    <br>
    <br>
    <h4> Source code : <a href="https://github.com/pratyush770/ToDo-List.git" target="_blank">
            https://github.com/pratyush770/ToDo-List.git </a> </h4>
</div>
<br> <br> <br>
<div class="ms-4">
    <img src="{% static 'pic 21.jpg' %}" height="200" width="200" class="img-left1">
    <h4> This project contains an illustration of CRUD Operations performed in Django framework. </h4>
    <br>
    <br>
    <h4> Source code : <a href="https://github.com/pratyush770/CRUD-Operations.git" target="_blank">
            https://github.com/pratyush770/CRUD-Operations.git </a> </h4>
</div>
<br> <br> <br>
<div class="ms-4">
    <img src="{% static 'pic 43.jpg' %}" height="200" width="200" class="img-left2">
    <h4> This project contains an illustration of an Online Dictionary which I have created using Django framework.
    </h4>
    <br>
    <br>
    <h4> Source code : <a href="https://github.com/pratyush770/MyDictionary.git" target="_blank">
            https://github.com/pratyush770/MyDictionary.git </a> </h4>
</div>
<br> <br> <br>
{% endblock body %}