{% extends "base.html" %}
{% block projectactive %} active {% endblock projectactive %}
{% block title %} My Projects {% endblock title %}
{% load static %}
{% block body %}
    <div class="container my-4">
        <h2 class="text-center">My Projects</h2>

    </div>
    <br>
<div class="container ms-5">
    <img src="{% static 'pic 19.jpg' %}" height="200" width="200" class="img-left"> 
    <h4 style="font-weight:normal;color:rgba(0, 0, 0, 0.750)"> This project contains an illustration of a ToDO List which I have created using Django framework. </h4>
    <br>
    <h4 style="font-weight:normal;color:rgba(0, 0, 0, 0.750)"> Link : <a href="https://todolist-pratyush.herokuapp.com/" target="_blank"> https://todolist-pratyush.herokuapp.com </a> </h4>
    <br>
    <h4 style="font-weight:normal;color:rgba(0, 0, 0, 0.750)"> Source code : <a href="https://github.com/pratyush770/ToDo-List.git" target="_blank"> https://github.com/pratyush770/ToDo-List.git </a> </h4>
</div> 
<br> <br> <br>
<div class="container ms-5">
    <img src="{% static 'pic 20.jpg' %}" height="200" width="200" class="img-left1"> 
    <h4 style="font-weight:normal;color:rgba(0, 0, 0, 0.750)"> This project contains an illustration of a Blog which I have created using Django framework. </h4>
    <br>
    <h4 style="font-weight:normal;color:rgba(0, 0, 0, 0.750)"> Link : <a href="https://blog-pratyush.herokuapp.com/" target="_blank"> https://blog-pratyush.herokuapp.com </a> </h4>
    <br>
    <h4 style="font-weight:normal;color:rgba(0, 0, 0, 0.750)"> Source code : <a href="https://github.com/pratyush770/Blog.git" target="_blank"> https://github.com/pratyush770/Blog.git </a> </h4>
</div>
<br> <br> <br>
<div class="container ms-5">
    <img src="{% static 'pic 21.jpg' %}" height="200" width="200" class="img-left1"> 
    <h4 style="font-weight:normal;color:rgba(0, 0, 0, 0.750)"> This project contains an illustration of CRUD Operations performed in Django. </h4>
    <br>
    <h4 style="font-weight:normal;color:rgba(0, 0, 0, 0.750)"> Link : <a href="https://crud-pratyush.herokuapp.com/" target="_blank"> https://crud-pratyush.herokuapp.com</a></h4>
    <br>
    <h4 style="font-weight:normal;color:rgba(0, 0, 0, 0.750)"> Source code : <a href="https://github.com/pratyush770/CRUD-Operations.git" target="_blank"> https://github.com/pratyush770/CRUD-Operations.git </a> </h4>
</div>
<br> <br> <br>
{% endblock body %}